  
  <div class="auth">



      {{#if error}}
      {{error}}
      {{/if}}


<form action="/auth/password" method="post">

  <div class="input-field col s12">
          <input id="password" type="password" class="validate" name="password" required>
          <label for="password">новый пароль</label>
          <span class="helper-text" data-error="wrong" data-success="right">write email</span>
        </div>

<input type="hidden" name="userId" value="{{userId}}">
<input type="hidden" name="token" value="{{token}}">

        <button class="btn" type="submit">обновить пароль</button>


</form>


    </div>
  
    
  