<h1>Add Course</h1>

{{#if error}}
{{error}}
{{/if}}

<form action="/add" method="post" novalidate>

  <div class="input-field col s12">
          <input id="title" type="text" class="validate" name="title" required value="{{data.title}}">
          <label for="title">Email</label>
          <span class="helper-text" data-error="wrong" data-success="right">write title</span>
        </div>

    <div class="input-field col s12">
          <input id="price" type="number" class="validate" name="price" required value="{{data.price}}">
          <label for="price">Email</label>
          <span class="helper-text" data-error="wrong" data-success="right">write price</span>
        </div>

        <div class="input-field col s12">
          <input id="img" type="text" class="validate" name="img" required value="{{data.img}}">
          <label for="img">Email</label>
          <span class="helper-text" data-error="wrong" data-success="right">send img url</span>
        </div>

        <button class="btn" type="submit">add cours</button>


</form>